<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
</head>
<body>
  <h2>Chat Room</h2>
  <textarea id="chat-log" cols="100" rows="20" readonly></textarea><br>
  <input id="chat-message-input" type="text" size="100"><br>
  <button id="chat-message-send">Send</button>

  <script>
    const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/');

    chatSocket.onmessage = function(e) {
      const data = JSON.parse(e.data);
      document.querySelector('#chat-log').value += (data.message + '\n');
    };

    document.querySelector('#chat-message-send').onclick = function() {
      const messageInput = document.querySelector('#chat-message-input');
      const message = messageInput.value;
      chatSocket.send(JSON.stringify({ 'message': message }));
      messageInput.value = '';
    };
  </script>
</body>
</html>
